@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar1 {
  background-color: transparent !important;
}

.MuiGridListTile-root {
  height: "500px";
}

.imageproduct:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.6s ease-in;
  transform: scale(1.3);
  transform: scale(1.3);
}

.navbar-toggler {
  color: white;
}

.makeStyles-heroContent-2 {
  background-image: url(https://i.ibb.co/Vqrx5Kw/fashion.png);
  height: "70vh";
  background-repeat: no-repeat;
}



.buttonProduct1 {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: transparent;
  outline: none;
  transition: 1s ease-in-out;
  color: black;
  font-size: 20px;
  margin-left: 5px;
  display: flex;
  text-align: center;
}




.MuiContainer-root {
  display: flex !important;
  justify-content: center;
}

.dropdown-toggle:hover {
  transition: 1s ease-in-out;
  background: #4d79ff;
  border-radius: 10px;
  color: black;
}

.dropdown-toggle:hover svg {
  stroke-dashoffset: -480;
}

.dropdown-toggle {
  color: black;
  font-size: 20px;
  font-weight: 200;
}



/* BUTTON */











@media screen and (max-width: 500px) {
  .productsDiv {
    width: 0;
    height: 0;
  }



  .MuiTypography-h3 {
    height: 5vh !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
    margin: 20px !important;
  }

  .MuiTypography-h6 {
    font-weight: 100 !important ;
    font-size: 15px !important;
    padding: 10px;
  }
  .MuiTypography-body1 {
    display: none !important;
  }
  .faUserPlus {
    display: none !important;
  }

  .MuiTypography-root {
    font-size: 2rem !important;
    display: flex !important;
    justify-content: center !important;
  }
  .makeStyles-imageTitle-23 {
    font-size: 1rem !important;
  }

  .navbar-light {
    background-color: white;
    padding: 1p;
  }
  .navbar-nav {
    font-size: small;
  }

  .navbar-toggler {
    margin-left: 30px;
    color: white;
  }

  .navbar-collapse {
    font-size: 5px;
    line-height: 10px;
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }
}
